.container {
  max-width: 45rem;
  font-size: 20px;
  background: #333;
  margin: 0 auto 1rem;
  padding: 0.5rem 1rem;
  -webkit-border-radius: 1rem;

  .main {
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      color: orange;
    }
      
    input {
      border: 0.5rem solid #ddd;
      background-color: #ddd;
      box-sizing: border-box;
      width:100%;
      padding: 0.5rem;
      font-size: 1rem;
      
      &.error {
        border: 0.5rem solid red;
      }
    }
    
    button {
      padding: 1rem 1rem;
      margin-top: 1rem;
      flex-grow: 1;
      background: orange;
      color: white;
      border: none;
      font-size: 1rem;
      
      &:hover,
      &:focus {
        background: #ee7600;
      }
    }
  }
  
  .error-field {
    color: white;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    font-family: Helvetica, Arial, Sans-Serif;
  }
}